body {
  background-color: #EFF8F3;
  margin: 0;
  padding: 0;
}

.whole {
  background-color: #B2E6CE;
  height: 30px;
  margin-bottom: 4px;
  padding: 5px;
  color: black;



}

.text {
  text-align: right;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;

}

.no-underline {
  text-decoration: none;
}

.container {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;

}

.left-side {
  margin-left: 80px;
  margin-right: 15px;



}

.main {
  margin-left: -10%;
}

.margin-right {
  text-align: center;

}

.heading {
  margin-top: 80px;
  font-size: 38px;
  text-align: justify;
  font-weight: bold;
  margin-left: 20px;
}



.para {
  color: navy;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
}

.para1 {
  color: navy;
  margin-top: 15px;
  margin-left: 90px;
  font-size: 22px;
  font-weight: bold;
}

.Enroll-btn {
  background-color:navy;
  color: white;
  font-size: 25px;
  margin-left: 120px;
  margin-top: 20px;
  width: 180px;
  height: 40px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border-radius: 10px 12px;

  cursor: pointer;
}

.Enroll-btn:hover {
  background-color:

    white;
  color: black;


}


.Job-Oriented-Domains {
  background-color: #EFF8F3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.card1 {
  background-color: white;
  width: 240px;
  height: 240px;
  margin: 2% 20px;
  border: 1px solid black;
  border-radius: 10px 12px;

}

.picture1 {
  margin-top: 20px;
  margin-left: 75px;

}

.text1 {
  margin-top: 8px;
  text-align: center;
}

.text2 {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5px;
  text-align: center;
  padding: 5px;

}

.no-underline {
  text-decoration: none;
}

.para-explore {
  margin-top: 2px;
  text-align: center;
}

.heading3 {
  background-color: #B2E6CE;

  margin-top: 25px;
  height: 40px;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.hiring-partner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.hiring-partner-card {
  margin: 40px;

}

.hiring-partner-card1 {
  background-color: white;
  width: 280px;
  height: 200px;
  border-radius: 10px 12px;
 border:1px solid black;
}



.image-card {
  margin-left: 70px;
  margin-top: 30px;

}

.service-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;
}

.service-card {
  background-color:

    #0078D7;
  margin-left: 20px;
  margin: 40px;
  height: 60px;
  width: 320px;
  border-radius: 10px 12px;
}

.service {
  margin-left: 5px;
  margin-top: 12px;
  margin: 12px;

}

.service-text {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: -45px;
  margin-left: -30px;
}

.service-text1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: -45px;
  margin-left: 25px;

}

.service-text {
  text-align: center;
}

.placement-container {

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.placement-card {
  background-color: white;
  margin: 25px;
  width: 320px;
  height: 320px;

  border-radius: 10px 12px;
  border-bottom: 5px solid navy;
}



.btnn {
  margin-left: 80px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  width: 150px;
  height: 25px;
  margin-top: 10px;
  background-color: coral;
  border: none;
  font-size: 18px;
  border-radius: 12px 14px;

}

.placement {

  margin-bottom: 5px;
  background-color: #E5E5E5;
  border-radius: 10px 12px;
}

.placement-text {
  text-align: center;
  color: black;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.logo {
  margin-top: -35px;
  margin-left: 85px;
}

.logo1 {
  margin-top: -5px;
  margin-left: 110px;

}


.teacher {
  /*background-color:#E5E5E5;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.teacher-card {
  background-color: white;
  margin: 50px;
  width: 300px;
  height: 260px;
  border: 3px solid #0078D7;
  border-radius: 10px 12px;
}

.placement1 {
  width: 40px;
  height: 40px;
  margin-left: 120px;
  margin-top: -5px;
  margin-bottom: 5px;
  border-radius: 50%;

}

@media only screen and (min-width: 1024px) and (max-width: 1680px) {


  .card1 {
    margin: 50px;
  }

  .para {
    margin-top: 15px;
    font-size: 30px;

  }

  .para1 {
    margin-top: 20px;
    font-size: 25px;

  }

  .Enroll-btn {
    margin-top: 25px;

  }


}